doctype html
html
  ul
    li
      a(class="active" href="#home") Home
    li
      a(href="#news") News
    li
      a(href="#contact") Contact
    li
      a(href="#about") About


  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
