doctype html
html
div.directory
  nav.navbar
    ul.nav-list
      li.nav-items
        ul.nav-links
          li
            a.title School Directory
          li
            a(href=`/map`) View Map
          li
            a(href=`/teachers`) View Teachers
          li
            a(href=`/courses`) View Courses
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
