extends layout

block content
    include teacherProfile
    div(id="outer" class="removePopup")
        div(id="inner" class="removePopup")
            +teacherProfile(teacher, setCourses)
    h1 Campus Map
    div(class="mapArea")
        svg(width="1280", height="1655")
            rect(id="box" x="0", y="0", width="0", height="0")
        div(class="imageArea")
            img(style="border:5px solid black" usemap="#campus" src="/images/edison.png")
            map(id="campus")
                //Admin South
                area(class="roomArea" shape="rect" coords="164.5, 746, 213.5, 774" href='/map/?room=AS61')
                area(class="roomArea" shape="rect" coords="215.5, 746, 262.5, 774" href='/map/?room=AS62')

                //Bus Lane, Counseling
                area(class="roomArea" shape="rect" coords="57, 611, 102, 1549" href='https://edison.fresnounified.org/schedules/regular-bus-schedules' target='_blank')
                area(class="roomArea" shape="rect" coords="270.5, 595, 403.5, 645" href='https://sites.google.com/view/edison-counseling/home' target='_blank')

                //CTE Building
                area(class="roomArea" shape="rect" coords="682.5, 913, 723.5, 946" href='/map/?room=101')
                area(class="roomArea" shape="rect" coords="889.5, 913, 940.5, 946" href='/map/?room=104')
                area(class="roomArea" shape="rect" coords="899.5, 999, 941.5, 1024" href='/map/?room=105')
                //area(class="roomArea" shape="rect" coords="854.5, 999, 896.5, 1024" href='/map/?room=106')
                area(class="roomArea" shape="rect" coords="777.5, 999, 816.5, 1024" href='/map/?room=107')
                area(class="roomArea" shape="rect" coords="899.5, 970, 941.5, 998" href='/map/?room=208')

                //Portable Buildings
                area(class="roomArea" shape="rect" coords="830.5, 638, 878.5, 672" href='/map/?room=P15')
                area(class="roomArea" shape="rect" coords="830.5, 520, 878.5, 557" href='/map/?room=P18')
                area(class="roomArea" shape="rect" coords="766.5, 594, 814.5, 632" href='/map/?room=P20')
                area(class="roomArea" shape="rect" coords="829.5, 471, 877.5, 504" href='/map/?room=P23')
                area(class="roomArea" shape="rect" coords="766.5, 470, 814.5, 503" href='/map/?room=P27')
                area(class="roomArea" shape="rect" coords="766.5, 435, 814.5, 467" href='/map/?room=P28')
                area(class="roomArea" shape="rect" coords="766.5, 400, 814.5, 432" href='/map/?room=P29')

                //R-Buildings
                area(class="roomArea" shape="rect" coords="374.5, 1387, 415.5, 1426" href='/map/?room=R14')
                area(class="roomArea" shape="rect" coords="418.5, 1387, 463.5, 1426" href='/map/?room=R16')
                area(class="roomArea" shape="rect" coords="707, 1181, 752, 1228" href='/map/?room=R20')
                area(class="roomArea" shape="rect" coords="755.5, 1181, 800.5, 1228" href='/map/?room=R21')
                area(class="roomArea" shape="rect" coords="854.5, 1181, 898.5, 1228" href='/map/?room=R23')
                area(class="roomArea" shape="rect" coords="707, 1098, 752, 1145" href='/map/?room=R24')
                area(class="roomArea" shape="rect" coords="854.5, 1098, 898.5, 1145" href='/map/?room=R27')

                //Science Building
                area(class="roomArea" shape="rect" coords="301.5, 828, 362, 849" href='/map/?room=S45')
                area(class="roomArea" shape="rect" coords="115, 828, 172.5, 849" href='/map/?room=S48')
                area(class="roomArea" shape="rect" coords="115.5, 877, 172.5, 904" href='/map/?room=S50')
                area(class="roomArea" shape="rect" coords="235.5, 877, 298.5, 904" href='/map/?room=S52')
                area(class="roomArea" shape="rect" coords="235.5, 800, 298.5, 827" href='/map/?room=S55')
                area(class="roomArea" shape="rect" coords="115, 799, 172.5, 827" href='/map/?room=S57')

                //W-Building
                area(class="roomArea" shape="rect" coords="118, 1349, 161, 1395" href='/map/?room=W201')
                area(class="roomArea" shape="rect" coords="300.5, 1254.5, 340.5, 1300" href='/map/?room=W204')
                area(class="roomArea" shape="rect" coords="118, 1262, 161, 1305" href='/map/?room=W205')
                area(class="roomArea" shape="rect" coords="118, 1165, 160, 1210" href='/map/?room=W209')
                area(class="roomArea" shape="rect" coords="118, 1114.5, 160, 1162" href='/map/?room=W211')
                area(class="roomArea" shape="rect" coords="118, 1064, 160, 1111" href='/map/?room=W212')

    script.
        let rooms = document.querySelectorAll(".roomArea")
        rooms.forEach(element => {
            element.addEventListener("click", function() {
                localStorage.setItem('hasPopup', 'true')
            });

            element.addEventListener("mouseover", function(){
                let coords = element.coords.split(',');
                let left = coords[0];
                let top = coords[1];
                let right = coords[2];
                let bottom = coords[3];
                svgBox(left, top, right, bottom);
            })

            element.addEventListener("mouseout", function () {
                let box = document.getElementById("box");
                box.setAttribute("x", `0`);
                box.setAttribute("y", `0`);
                box.setAttribute("width", `0`);
                box.setAttribute("height", `0`);
            })
        });
        document.getElementById("remove").addEventListener("click", function (){
            localStorage.setItem('hasPopup', 'false')
            window.location.reload();
        })
        document.addEventListener("DOMContentLoaded", function(){
            if (!window.location.href.includes("?room=")){
                localStorage.setItem('hasPopup', 'false')
            }
            if (localStorage.getItem('hasPopup') === 'true') {
                document.getElementById("inner").className = ('popupOverlay');
                document.getElementById("outer").className = ('popupOuter');
                document.getElementById("teacherProfile").className = ('profileContent')
            } else{
                document.getElementById("inner").className = ('removePopup');
                document.getElementById("outer").className = ('removePopup');
                document.getElementById("teacherProfile").className = ('removeProfileContent')
            }
        })

        function svgBox(left, top, right, bottom){
            let box = document.getElementById("box");
            let width = right - left;
            let height = bottom - top;
            box.setAttribute("x", `${left}`);
            box.setAttribute("y", `${top}`);
            box.setAttribute("width", `${width}`);
            box.setAttribute("height", `${height}`);
        }