extends layout

block content
    include teacherProfile
    div(id="outer" class="removePopup")
        div(id="inner" class="removePopup")
            +teacherProfile(teacher, setCourses)
    h1 Campus Map
    div(class="mapArea")
        svg(width="1280", height="1655")
            rect(id="box" x="0", y="0", width="0", height="0")
        div(class="imageArea")
            img(style="border:5px solid black" usemap="#campus" src="/images/edison.png")
            map(id="campus")

                //Admin South
                //area(class="roomArea" shape="rect" coords="119.5, 745.5, 162.5, 773.5" href='/map/?room=AS60')
                area(class="roomArea" shape="rect" coords="164.5, 745.5, 213.5, 773.5" href='/map/?room=AS61')
                //area(class="roomArea" shape="rect" coords="215.5, 745.5, 262.5, 773.5" href='/map/?room=AS62')
                //area(class="roomArea" shape="rect" coords="164.5, 685.5, 213.5, 714.5" href='/map/?room=AS64')
                //area(class="roomArea" shape="rect" coords="119.5, 655.5, 213.5, 683.5" href='/map/?room=AS65')
                area(class="roomArea" shape="rect" coords="119.5, 593.5, 213.5, 622.5" href='/map/?room=AS67')

                //Art Building
                //area(class="roomArea" shape="rect" coords="303.5, 1440.5, 345.5, 1487.5" href='/map/?room=D101')
                //area(class="roomArea" shape="rect" coords="258.5, 1440.5, 300.5, 1487.5" href='/map/?room=D102')
                area(class="roomArea" shape="rect" coords="210.5, 1440.5, 255.5, 1487.5" href='/map/?room=D103')
                area(class="roomArea" shape="rect" coords="164.5, 1440.5, 207.5, 1487.5" href='/map/?room=D104')
                //area(class="roomArea" shape="rect" coords="108.5, 1440.5, 161.5, 1486.5" href='/map/?room=D105A')

                //Band Rooms
                //area(class="roomArea" shape="rect" coords="616.5, 899.5, 660.5, 931.5" href='/map/?room=M70')
                //area(class="roomArea" shape="rect" coords="616.5, 934.5, 660.5, 964.5" href='/map/?room=M71')

                //Bus Lane, Counseling
                area(class="roomArea" shape="rect" coords="57, 611, 102, 1549" href='https://edison.fresnounified.org/schedules/regular-bus-schedules' target='_blank')
                area(class="roomArea" shape="rect" coords="270.5, 595, 403.5, 645" href='https://sites.google.com/view/edison-counseling/home' target='_blank')

                //CTE Building
                area(class="roomArea" shape="rect" coords="682, 912.5, 723.5, 946" href='/map/?room=101')
                //area(class="roomArea" shape="rect" coords="767.5, 912.5, 807, 945.5" href='/map/?room=103')
                area(class="roomArea" shape="rect" coords="889.5, 912.5, 940.5, 946" href='/map/?room=104')
                area(class="roomArea" shape="rect" coords="899.5, 998.5, 941.5, 1024" href='/map/?room=105')
                area(class="roomArea" shape="rect" coords="854.5, 998.5, 896.5, 1024" href='/map/?room=106')
                area(class="roomArea" shape="rect" coords="777.5, 998.5, 816, 1024" href='/map/?room=107')
                //area(class="roomArea" shape="rect" coords="682.5, 881.5, 765, 911.5" href='/map/?room=203')
                //area(class="roomArea" shape="rect" coords="767, 881.5, 806.5, 911.5" href='/map/?room=204')
                //area(class="roomArea" shape="rect" coords="810, 881.5, 840, 911.5" href='/map/?room=205')
                //area(class="roomArea" shape="rect" coords="889.5, 882.5, 940.5, 911.5" href='/map/?room=207')
                area(class="roomArea" shape="rect" coords="899.5, 969.5, 941.5, 997.5" href='/map/?room=208')
                area(class="roomArea" shape="rect" coords="819.5, 969.5, 851.5, 997.5" href='/map/?room=210')

                //Locker Rooms
                area(class="roomArea" shape="rect" coords="997.5, 1167.5, 1058.5, 1188.5" href='/map/?name=Allison')
                area(class="roomArea" shape="rect" coords="997.5, 1189.5, 1058.5, 1210.5" href='/map/?name=Benavidez')
                area(class="roomArea" shape="rect" coords="997.5, 1212.5, 1058.5, 1233.5" href='/map/?name=Mahackian')
                area(class="roomArea" shape="rect" coords="1060.25, 1167.5, 1121.5, 1188.5" href='/map/?name=Murray')
                area(class="roomArea" shape="rect" coords="1060.25, 1189.5, 1121.5, 1210.5" href='/map/?name=Schoenfeld')
                area(class="roomArea" shape="rect" coords="1060.25, 1212.5, 1121.5, 1233.5" href='/map/?name=Thompson')

                //Portable Buildings
                area(class="roomArea" shape="rect" coords="681.5, 801.5, 726.5, 853.5" href='/map/?room=P3')
                area(class="roomArea" shape="rect" coords="729.5, 801.5, 775.5, 853.5" href='/map/?room=P4')
                //area(class="roomArea" shape="rect" coords="778.5, 801.5, 819.5, 853.5" href='/map/?room=P5')
                //area(class="roomArea" shape="rect" coords="682.5, 720.5, 722.5, 773.5" href='/map/?room=P9')
                //area(class="roomArea" shape="rect" coords="725.5, 720.5, 766, 773.5" href='/map/?room=P10')
                //area(class="roomArea" shape="rect" coords="768.5, 720.5, 809.5, 773.5" href='/map/?room=P11')
                area(class="roomArea" shape="rect" coords="830.5, 637.5, 878.5, 671.5" href='/map/?room=P15')
                //area(class="roomArea" shape="rect" coords="830.5, 598.5, 878.5, 634.5" href='/map/?room=P16')
                //area(class="roomArea" shape="rect" coords="830.5, 559.5, 878.5, 595.5" href='/map/?room=P17')
                area(class="roomArea" shape="rect" coords="830.5, 519.5, 878.5, 557" href='/map/?room=P18')
                area(class="roomArea" shape="rect" coords="766.5, 634.5, 814.5, 672" href='/map/?room=P19')
                area(class="roomArea" shape="rect" coords="766.5, 593.5, 814.5, 631.5" href='/map/?room=P20')
                //area(class="roomArea" shape="rect" coords="766.5, 552.5, 814.5, 590.5" href='/map/?room=P21')
                //area(class="roomArea" shape="rect" coords="766.5, 519.5, 814.5, 549.5" href='/map/?room=P22')
                //area(class="roomArea" shape="rect" coords="829.5, 471, 877.5, 504" href='/map/?room=P23')
                //area(class="roomArea" shape="rect" coords="829.5, 436, 877.5, 468.5" href='/map/?room=P24')
                //area(class="roomArea" shape="rect" coords="829.5, 365.5, 877.5, 397.5" href='/map/?room=P26')
                area(class="roomArea" shape="rect" coords="766.5, 469.5, 814.5, 503" href='/map/?room=P27')
                area(class="roomArea" shape="rect" coords="766.5, 434.5, 814.5, 467" href='/map/?room=P28')
                area(class="roomArea" shape="rect" coords="766.5, 399.5, 814.5, 432" href='/map/?room=P29')
                area(class="roomArea" shape="rect" coords="766.5, 364.5, 814.5, 396.5" href='/map/?room=P30')

                //R-Buildings
                area(class="roomArea" shape="rect" coords="374.75, 1386.5, 415.5, 1426" href='/map/?room=R14')
                area(class="roomArea" shape="rect" coords="374.75, 1428.5, 415.5, 1499" href='/map/?room=R15')
                area(class="roomArea" shape="rect" coords="418.5, 1386.75, 463.5, 1426" href='/map/?room=R16')
                area(class="roomArea" shape="rect" coords="418.5, 1428.75, 463.5, 1499.5" href='/map/?room=R17')
                area(class="roomArea" shape="rect" coords="515.5, 1386.75, 565.5, 1425.5" href='/map/?room=R18')
                area(class="roomArea" shape="rect" coords="706.5, 1180, 752, 1228" href='/map/?room=R20')
                area(class="roomArea" shape="rect" coords="755, 1180, 800.5, 1228" href='/map/?room=R21')
                //area(class="roomArea" shape="rect" coords="803.5, 1180, 850.5, 1228" href='/map/?room=R22')
                area(class="roomArea" shape="rect" coords="854.5, 1180, 898.5, 1228" href='/map/?room=R23')
                area(class="roomArea" shape="rect" coords="707, 1097.5, 752, 1145" href='/map/?room=R24')
                area(class="roomArea" shape="rect" coords="755.5, 1097.5, 800.5, 1144.5" href='/map/?room=R25')
                //area(class="roomArea" shape="rect" coords="803.75, 1097.5, 850.5, 1144.5" href='/map/?room=R26')
                area(class="roomArea" shape="rect" coords="854.5, 1097.5, 898.5, 1145" href='/map/?room=R27')

                //Science Building
                //area(class="roomArea" shape="rect" coords="115.5, 904.5, 172.5, 925.5" href='/map/?room=S40')
                //area(class="roomArea" shape="rect" coords="175.5, 904.5, 232.5, 925.5" href='/map/?room=S41')
                //area(class="roomArea" shape="rect" coords="235.5, 904.5, 298.5, 926.5" href='/map/?room=S42')
                //area(class="roomArea" shape="rect" coords="301.5, 904.5, 361.5, 925.5" href='/map/?room=S43')
                area(class="roomArea" shape="rect" coords="301.5, 827.5, 361.5, 848.5" href='/map/?room=S45')
                area(class="roomArea" shape="rect" coords="235.5, 827.5, 298.5, 848.5" href='/map/?room=S46')
                //area(class="roomArea" shape="rect" coords="175.5, 827.5, 233, 848.5" href='/map/?room=S47')
                area(class="roomArea" shape="rect" coords="115, 827.5, 172.5, 848.5" href='/map/?room=S48')
                area(class="roomArea" shape="rect" coords="115.5, 876.5, 172.5, 903.5" href='/map/?room=S50')
                area(class="roomArea" shape="rect" coords="175.5, 876.5, 232.5, 903.5" href='/map/?room=S51')
                area(class="roomArea" shape="rect" coords="235.5, 876.5, 298.5, 903.5" href='/map/?room=S52')
                //area(class="roomArea" shape="rect" coords="301.5, 876.5, 361.5, 903.5" href='/map/?room=S53')
                area(class="roomArea" shape="rect" coords="301, 800, 362, 827" href='/map/?room=S54')
                area(class="roomArea" shape="rect" coords="235.5, 800, 298.5, 827" href='/map/?room=S55')
                area(class="roomArea" shape="rect" coords="175.5, 799, 233, 826" href='/map/?room=S56')
                area(class="roomArea" shape="rect" coords="115, 799, 172.5, 827" href='/map/?room=S57')

                //W-Building
                area(class="roomArea" shape="rect" coords="162, 1349, 202, 1394" href='/map/?room=W101')
                area(class="roomArea" shape="rect" coords="262, 1349, 300, 1394" href='/map/?room=W102')
                //area(class="roomArea" shape="rect" coords="258, 1255, 299, 1299" href='/map/?room=W104')
                area(class="roomArea" shape="rect" coords="161, 1262, 202, 1346" href='/map/?room=W105')
                area(class="roomArea" shape="rect" coords="258, 1207, 299, 1250" href='/map/?room=W106')
                //area(class="roomArea" shape="rect" coords="162, 1165, 202, 1259" href='/map/?room=W107')
                area(class="roomArea" shape="rect" coords="258, 1160, 299, 1203" href='/map/?room=W108')
                area(class="roomArea" shape="rect" coords="258, 1112, 300, 1155" href='/map/?room=W110')
                //area(class="roomArea" shape="rect" coords="161, 1063, 202, 1161" href='/map/?room=W111')
                area(class="roomArea" shape="rect" coords="161, 1016, 202, 1060" href='/map/?room=W113')
                //area(class="roomArea" shape="rect" coords="262, 969, 300, 1013" href='/map/?room=W116')
                area(class="roomArea" shape="rect" coords="118, 1349, 161, 1395" href='/map/?room=W201')
                //area(class="roomArea" shape="rect" coords="302, 1349, 341, 1394" href='/map/?room=W202')
                area(class="roomArea" shape="rect" coords="118, 1307, 160, 1346" href='/map/?room=W203')
                area(class="roomArea" shape="rect" coords="300.5, 1254.5, 340.5, 1300" href='/map/?room=W204')
                area(class="roomArea" shape="rect" coords="118, 1262, 161, 1305" href='/map/?room=W205')
                //area(class="roomArea" shape="rect" coords="301, 1207, 340, 1250" href='/map/?room=W206')
                //area(class="roomArea" shape="rect" coords="118, 1212, 160, 1259" href='/map/?room=W207')
                //area(class="roomArea" shape="rect" coords="301, 1160, 340, 1203" href='/map/?room=W208')
                area(class="roomArea" shape="rect" coords="118, 1165, 160, 1210" href='/map/?room=W209')
                //area(class="roomArea" shape="rect" coords="302, 1112, 340, 1155" href='/map/?room=W210')
                area(class="roomArea" shape="rect" coords="118, 1114.5, 160, 1162" href='/map/?room=W211')
                area(class="roomArea" shape="rect" coords="118, 1064, 160, 1111" href='/map/?room=W212')
                //area(class="roomArea" shape="rect" coords="118, 1016, 160, 1060" href='/map/?room=W213')
                area(class="roomArea" shape="rect" coords="303, 969, 340, 1013" href='/map/?room=W214')
                //area(class="roomArea" shape="rect" coords="118, 968, 159, 1012" href='/map/?room=W215')

    script.
        let rooms = document.querySelectorAll(".roomArea")
        rooms.forEach(element => {
            element.addEventListener("click", function() {
                localStorage.setItem('hasPopup', 'true')
            });

            element.addEventListener("mouseover", function(){
                let coords = element.coords.split(',');
                let left = coords[0];
                let top = coords[1];
                let right = coords[2];
                let bottom = coords[3];
                svgBox(left, top, right, bottom);
            })

            element.addEventListener("mouseout", function () {
                let box = document.getElementById("box");
                box.setAttribute("x", `0`);
                box.setAttribute("y", `0`);
                box.setAttribute("width", `0`);
                box.setAttribute("height", `0`);
            })
        });
        document.getElementById("remove").addEventListener("click", function (){
            localStorage.setItem('hasPopup', 'false')
            window.location.reload();
        })
        document.addEventListener("DOMContentLoaded", function(){
            if (!window.location.href.includes("?room=") && !window.location.href.includes("?name=")){
                localStorage.setItem('hasPopup', 'false')
            }
            if (localStorage.getItem('hasPopup') === 'true') {
                document.getElementById("inner").className = ('popupOverlay');
                document.getElementById("outer").className = ('popupOuter');
                document.getElementById("teacherProfile").className = ('profileContent')
            } else{
                document.getElementById("inner").className = ('removePopup');
                document.getElementById("outer").className = ('removePopup');
                document.getElementById("teacherProfile").className = ('removeProfileContent')
            }
        })

        function svgBox(left, top, right, bottom){
            let box = document.getElementById("box");
            let width = right - left;
            let height = bottom - top;
            box.setAttribute("x", `${left}`);
            box.setAttribute("y", `${top}`);
            box.setAttribute("width", `${width}`);
            box.setAttribute("height", `${height}`);
        }